Language : Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveDeclarations: Consecutive
BreakBeforeBraces: Allman
UseTab: Never
IndentWidth: 4
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None