Language : Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Allman
UseTab: Never
IndentWidth: 4
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes